In [26]:
import pandas as pd


df = pd.read_csv('EmployeeSampleData1.csv',encoding='ISO-8859-1')
print(df)

     Employee ID         Full Name                   Job Title   Department  \
0         E02002            Kai Le           Controls Engineer  Engineering
1         E02003      Robert Patel                     Analyst        Sales
2         E02004        Cameron Lo       Network Administrator           IT
3         E02005   Harper Castillo        IT Systems Architect           IT
4         E02006  Harper Dominguez                    Director  Engineering
...          ...               ...                         ...          ...
1257      E02250          Mila Han                     Manager        Sales
1258      E02251   Genesis Herrera                     Manager           IT
1259      E02252    Olivia Vazquez            Network Engineer           IT
1260      E02253        Leilani Ng             Systems Analyst           IT
1261      E02254    Olivia Mendoza  Sr. Account Representative        Sales

               Business Unit  Gender Ethnicity   Age   Hire Date  \
0              Manufacturing    Male     Asian  47.0    2/5/2022
1                  Corporate    Male     Asian  58.0  10/23/2013
2     Research & Development    Male     Asian  34.0   3/24/2019
3                  Corporate  Female    Latino  39.0    4/7/2018
4                  Corporate  Female    Latino  42.0   6/18/2005
...                      ...     ...       ...   ...         ...
1257           Manufacturing  Female     Asian  54.0  11/14/2009
1258  Research & Development  Female    Latino  34.0   10/3/2015
1259      Specialty Products  Female    Latino  53.0   4/13/2020
1260               Corporate  Female     Asian  48.0   9/19/2011
1261               Corporate  Female    Latino  43.0    5/7/2017

     Annual Salary Bonus %        Country       City   Exit Date
0         $92,368       0%  United States   Columbus         NaN
1         $45,703       0%  United States    Chicago         NaN
2         $83,576       0%          China   Shanghai         NaN
3         $98,062       0%  United States    Seattle         NaN
4        $175,391      24%  United States     Austin         NaN
...            ...     ...            ...        ...         ...
1257     $128,791       6%  United States      Miami         NaN
1258     $126,898      10%         Brazil     Manaus         NaN
1259      $93,053       0%         Brazil  Sao Paulo         NaN
1260      $50,513       0%  United States    Seattle  10/30/2019
1261      $86,533       0%  United States   Columbus         NaN

[1262 rows x 14 columns]

In [4]:
def indexData(collection, exclude_column):
    return collection.drop(columns=[exclude_column])

In [5]:
def delEmpById(collection, employee_id):
    return collection[collection['Employee ID'] != employee_id]

In [6]:
# Create a collection (in this case, we will use a DataFrame)
def createCollection(collection_name):
    return pd.DataFrame()

# Index the data into the specified collection excluding the given column
def indexData(collection, data, exclude_column):
    return data.drop(columns=[exclude_column])

# Search within the specified collection
def searchByColumn(collection, column_name, column_value):
    return collection[collection[column_name] == column_value]

# Get employee count
def getEmpCount(collection):
    return len(collection)

# Delete an employee by ID
def delEmpById(collection, employee_id):
    return collection[collection['EmployeeID'] != employee_id]

# Get department facet
def getDepFacet(collection):
    return collection['Department'].value_counts()

In [8]:
def searchByColumn(collection, column_name, column_value):
    return collection[collection[column_name] == column_value]

In [9]:
def getEmpCount(collection):
    return len(collection)

In [10]:
def getDepFacet(collection):
    return collection['Department'].value_counts()

In [11]:
# Function Executions
v_nameCollection = 'sujithkumar'
v_phoneCollection = '1020'

# Create collections
name_collection = createCollection(v_nameCollection)
print("Name Collection created successfully.")

phone_collection = createCollection(v_phoneCollection)
print("Phone Collection created successfully.")

Name Collection created successfully.
Phone Collection created successfully.

In [12]:
# Get employee count
print("Employee Count (Name Collection):", getEmpCount(name_collection))

Employee Count (Name Collection): 0

In [13]:
# Function Definitions
def createCollection(collection_name):
    return employee_df.copy()  # Create a new DataFrame based on the existing one

In [27]:
import pandas as pd

# Example of defining the indexData function
def indexData(collection, exclude_column=None):
    # Assuming collection is a pandas DataFrame
    if exclude_column and exclude_column in collection.columns:
        return collection.drop(columns=[exclude_column])
    return collection

# Sample DataFrame (simulating your employee data)
data = {'Name': ['John Doe', 'Jane Smith'],
        'Age': [30, 25],
        'Department': ['HR', 'Engineering']}

name_collection = pd.DataFrame(data)

# Indexing the data, excluding the 'Department' column
indexed_name_collection = indexData(name_collection, 'Department')

# Print the indexed collection
print("Data indexed successfully, excluding the 'Department' column.")
print(indexed_name_collection)

Data indexed successfully, excluding the 'Department' column.
         Name  Age
0    John Doe   30
1  Jane Smith   25

In [29]:
data = pd.DataFrame.from_dict(data)
data.columns
data.keys()

Index(['Name', 'Age', 'Department'], dtype='object')

In [17]:
# Get updated employee counts
print("Updated Employee Count (Name Collection):", getEmpCount(name_collection))

Updated Employee Count (Name Collection): 0

In [30]:
# Search by column
import pandas as pd

# Function to search by a column value
def searchByColumn(collection, column_name, value):
    # Check if the column exists in the DataFrame
    if column_name in collection.columns:
        return collection[collection[column_name] == value]
    else:
        raise KeyError(f"Column '{column_name}' not found in the collection.")

# Example: Searching for employees in the 'IT' Department
search_it_department = searchByColumn(name_collection, 'Department', 'IT')
print("Employees in IT Department:\n", search_it_department)

Employees in IT Department:
 Empty DataFrame
Columns: [Name, Age, Department]
Index: []

In [9]:
print(type(data))  # Should return <class 'pandas.core.frame.DataFrame'>
# If the data is loaded as a dictionary or misread, try this
data = pd.DataFrame.from_dict(data)
data.columns
data.keys()  # To access dictionary keys

NameError: name 'data' is not defined